.top{
	background: #285FFE;
	height: 618px;
	
}
.menubar{
	text-align: center;
	margin-left: 190px;
	display: flex;
}
.menubar ul{
	display:flex;

	list-style: none;
	color:#fff;
}
.menubar ul li{
	width: 5px;
	margin: =10px;
	margin-top: 15px;
	margin-left: 100px;
	display: flex;
	
}
.menubar ul li a{
	text-decoration: none;
	color: #fff;
	display: flex;
}
.active,.menubar ul li:hover
{
	text-decoration: underline;
	border-radius:100px;
}
.login{
text-align: right;	

}
.login ul{
	list-style: none;
	color:#fff;
	display: inline-flex;
}
.login ul li{
	margin-top: 0px;
	margin-right: 100px;
	display: flex;
	
	padding: 10px;
	border-radius: 20px;
	background: whitesmoke;

}
.login ul li a{
	color:black;
	text-decoration: none;

}
.login1{
	text-align:center;	
}
.login1 ul{
	list-style: none;
	color:#fff;
	display: inline-flex;
}
.login1 ul li{
	margin-top: 0px;
	margin-right: 100px;
	display: flex;
	padding: 20px;
	border-radius: 40px; 
	word-spacing: 5px;
	 letter-spacing:2px;
	
	

}
.login1 ul li a{
	
	text-decoration: none;
}
.image1{
	background: white;
	height: 450px;
	width: 100%;
}
.image1 p{
	
	position: relative;
	width:385px;
	float:right;
	text-align: justify;
	margin-right: 100px;



}
.image2{
	background: whitesmoke;
	height: 450px;
	width: 100%;
}
.image2 p{
	
	position: relative;
	width:385px;
	float:left;
	text-align: justify;
	margin-left: 80px;
	

}
.footer1{
	background: black;
	height: 600px;
}
#footer{
	
	display:flex;
	
	justify-content: space-evenly;
	
}
.icon{
	display: flex;
	flex-wrap: wrap;
}
.icon ul{
	display: flex;
	flex-wrap: wrap;
	
}
.icon ul li{
	list-style: none;
	display: flex;
padding-right: 15px;
}
.icon ul li a{
	display: flex;
 text-decoration: none;
}
.icon ul li a i{
	color: black;
}
.list1 ul{
    display: block;
}
.list1 ul li{
	list-style: none;
   padding: 8px;
}
.list2 ul{
    display: block;
}
.list2 ul li{
	list-style: none;
   padding: 8px;
   }
   .list3 ul{
    display: block;
}
.list3 ul li{
	list-style: none;
   padding: 8px;
   }
   .list4 ul{
    display: block;
}
.list4 ul li{
	list-style: none;
   padding: 8px;
   }
   .active,.list1 ul li:hover
   {
	text-decoration: underline;
	
   }
@media only screen and (max-width: 1000px) {
  
  .top{
  	height: 800px;
  	margin-top: 60px;
  }
  .login1 ul li{
  	
  	border-radius: 15px;
  	word-spacing: 0px;
  	letter-spacing: 0px;
  	padding: 10px;
  	font-size: 13px;
  	margin-right: 50px;
  	margin-top: 230px;

  }
  .menubar{
  	display: none;

  }
  .login ul li{
  	margin-right: 20px;
  	margin-top: 10px;
  }
  .logoimage  {
  	margin-left: -50px;
  }
  .topbackgroundimage{
  	display: none;
  }
  .topsideimage{
  	display: none;
  }
  .topleftsideimage{
  	display: none;
  }
}